html, body {
  height: 100%;
  color: #34495e;
  background: #040708;
}

.full-height {
  height: 100%;
}

.no-overflow {
  overflow: hidden;
}

#particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#hero {
  color: #fff;
  text-align: center;
  overflow: hidden;
  /*min-height: 100%;*/
  position: relative;
}

#hero .medha {
  cursor: pointer;
}

#hero .medha:hover {
  transform: scale(1.2);
}

.link {
  cursor: pointer;
}

.link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.countdown {
  text-align: center;
  padding: 48px 0;
  padding: 3rem 0;
  color: #fff;
}

.countdown .time {
  font-size: 32px;
  font-size: 2rem;
}

.countdown .text {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.about {
  color: #bbb;
}

.about h3 {
  color: #fff;
}

header.navbar {
  background: #040708;
}

header.navbar a {
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
}

.event-loading {
  color: #fff;
}

.event-loading, .event-details {
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.event-details {
  display: block;
  overflow: scroll;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.event-details img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.event-details.up {
  -webkit-transform: translateY(48px);
          transform: translateY(48px);
}

.event-data {
  background: #fff;
  height: 200%;
}

#event-title {
  font-variant: small-caps;
}

#event-sub {
  font-style: italic;
  font-weight: 400;
}

.visible {
  display: block;
}

.goup {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.event-loading-content {
  text-align: center;
}

.event-loading p {
  -webkit-animation: loadingText 1s infinite;
          animation: loadingText 1s infinite;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 9.6px;
  font-size: 0.6rem;
  margin-top: 16px;
  margin-top: 1rem;
}

@-webkit-keyframes loadingText {
  50% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

@keyframes loadingText {
  50% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.event-loading img {
  -webkit-animation: rotateBeat 1s infinite;
          animation: rotateBeat 1s infinite;
}

@-webkit-keyframes rotateBeat {
  15% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  35% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }
  50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
  }
  70% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }
  71% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
  }
}

@keyframes rotateBeat {
  15% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  35% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }
  50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
  }
  70% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }
  71% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
  }
}

.event-item {
  height: 16em;
  background: rgba(10,49,61,.5);
  color: #02B3E4;
  border: none;
  text-align: center;
  padding: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: 0 0 23px 5px rgba(154,225,244,.8);
  /*border: rgba(2,179,228,.5) solid 3px;*/
  border-radius: .4rem;
  margin: 1em 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  will-change: transform, box-shadow;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  position: relative;
  z-index: 10;
}

.event-container {
  position: relative;
  height: 20em;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 0 auto;
  width: 22em;
  margin-top: 5em;
  z-index: 10;
}
.rotor {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: rotateX(-90deg) rotateY(60deg);
  transform: rotateX(-90deg) rotateY(60deg);
}
.event-panel {
  width: 22em;
  position: absolute;
}

@media (max-width: 575.98px) {
  .event-container {
    -webkit-transform: scale(0.45);
        -ms-transform: scale(0.45);
            transform: scale(0.45);
    -webkit-perspective: 850px;
            perspective: 850px;
    margin-top: 0em;
  }
  .event-btn {
    margin-top: 0em;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 576px) {
  .event-container {
    -webkit-transform: scale(0.65);
        -ms-transform: scale(0.65);
            transform: scale(0.65);
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .event-btn {
    margin-top: 1em;
  }
}

@media (min-width: 768px) {
    .event-container {
      -webkit-transform: scale(0.75);
          -ms-transform: scale(0.75);
              transform: scale(0.75);
      -webkit-perspective: 1000px;
              perspective: 1000px;
    }
    .event-btn {
      margin-top: 2em;
    }
}

@media (min-width: 992px) {
    .event-container {
      -webkit-transform: scale(0.85);
          -ms-transform: scale(0.85);
              transform: scale(0.85);
      -webkit-perspective: 1000px;
              perspective: 1000px;
    }
    .event-btn {
      margin-top: 3em;
    }
}

.event-btn {
  background: rgba(10,49,61,.9);
  -webkit-box-shadow: 0 0 14px 4px rgba(154,225,244,.8);
          box-shadow: 0 0 14px 4px rgba(154,225,244,.8);
  width: 2.5em;
  height: 2.5em;
  display: inline-block;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 0.4em;
  text-align: center;
}

.event-btn:hover {
  -webkit-box-shadow: 0 0 14px 6px rgba(154,225,244,.8);
          box-shadow: 0 0 14px 6px rgba(154,225,244,.8);
}

.events {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .6s;
  transition: all .6s;
}

.events.up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.event-card {
  background: #fff -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: #fff linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 1em 0;
  /*box-shadow: 1px 6px 24px 5px rgba(46,61,73,.2);*/
  border-radius: .4rem;
  overflow: hidden;
}

.event-card img {
  -webkit-transition: all .4s;
  transition: all .4s;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.event-card:hover > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.event-card-body {
  padding: 1.2em;
  position: relative;
  margin-top: -4em;
  background: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.event-card-title {
  font-variant: small-caps;
}

.event-card-text {
  margin-bottom: 0;
}

.ripple-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.ripple {
  display: block;
  height: 0;
  width: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #02b3e4;
  border-radius: 100%;
  position: absolute;
  z-index: 999;
  -webkit-transition: all 5s;
  transition: all 5s;
  box-sizing: content-box;
  will-change: margin, border, height, width;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.ripple.ani {
  -webkit-animation: RIP 1s;
          animation: RIP 1s;
}

@-webkit-keyframes RIP {
  0% { border-width: 0; }
  40% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-left: -1500px;
    margin-top: -1500px;
  }
  41% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-left: -1500px;
    margin-top: -1500px;
  }
  100% {
    height: 2500px;
    width: 2500px;
    border-width: 1500px;
    margin-top: -2250px;
    margin-left: -2250px;
  }
}

@keyframes RIP {
  0% { border-width: 0; }
  40% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-left: -1500px;
    margin-top: -1500px;
  }
  41% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-left: -1500px;
    margin-top: -1500px;
  }
  100% {
    height: 2500px;
    width: 2500px;
    border-width: 1500px;
    margin-top: -2250px;
    margin-left: -2250px;
  }
}

.details-header {
  position: fixed;
  width: 100%;
  z-index: 101;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.details-header .navbar {
  box-shadow: 0 0 0.5em 0.01em rgba(0, 0, 0, 0.4);
}

.details-header.down {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.details-header .back-btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  padding: .25em;
}

.event-item:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  background: rgba(10,49,61,0.9);
  box-shadow: 0 0 23px 10px rgba(154,225,244,.8);
}

.event-item h4, .event-loading h4 {
  padding-top: 1em;
  font-weight: 100;
}

h2.section-title {
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 1em;
  color: #fff;
}

h2.section-title.events {
  color: #fff;
}

h2.section-title span {
  color: #02b3e4;
}

footer .credits {
  font-size: 10pt;
  text-align: center;
}

.legitRipple-ripple {
    background: rgba(0, 0, 0, .1);
    -webkit-transition-duration: .15s, .9s;
            transition-duration: .15s, .9s;
}

#map {
  width: 100%;
  height: 230px;
  border: none;
  position: relative;
  z-index: 10;
}

.app {
  text-align: center;
  padding: 48px 0;
  padding: 3rem 0;
  color: #fff;
  margin-top: -0.35em;
}

.app .download {
  padding: 0.2em;
  color: #02b3e4;
  font-size: 1em;
  border-radius: .2rem;
  text-decoration: none;
  border: #02b3e4 solid 2px;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  position: relative;
  z-index: 10;
}

.app .download:hover {
  border: #02b3e4 solid 1px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

footer {
  color: #fff;
  padding: 16px 0px;
  padding: 1rem 0rem;
  font-size: 13.6px;
  font-size: .85rem;
  font-weight: 100;
}

.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1900;
}

.menu .navbar-toggler {
  position: fixed;
  z-index: 200;
  left: 1em;
  top: 1em;
  background: #fff;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  padding: 0.4em;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.menu .navbar-toggler:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu .row a {
  display: block;
  height: 100%;
  font-size: 2em;
  font-weight: 100;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.menu .row a span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu.hide .row a:nth-child(even) {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.menu.hide .row a:nth-child(odd) {
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.menu .row a:nth-child(1) {
  background: #212121;
}

.menu .row a:nth-child(2) {
  background: #3E2723;
}

.menu .row a:nth-child(3) {
  background: #BF360C;
}

.menu .row a:nth-child(4) {
  background: #E65100;
}

.menu .row a:nth-child(5) {
  background: #FF6F00;
}

.menu .row a:nth-child(6) {
  background: #F57F17;
}

.menu .row a:hover:after {
  display: block;
}

.menu .row a:hover span {
  -webkit-transform: translate(-50%, -50%) scale(1.4);
          transform: translate(-50%, -50%) scale(1.4);
}

.menu .row a:after {
  display: none;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.reg {
  background-color: rgba(0, 0, 0, 0.8);
}

@font-face {
  font-family: 'Amarillo';
  src: url('../fonts/Amarillo.ttf') format('truetype');
}

@media (max-width: 575.99px) {
  .event-data {
    padding: 2em 1em;
  }

  #hero h1 {
    font-size: 26pt;
  }

  #hero .tagline {
    right: -7em;
    top: 0em;
    font-size: 0.8rem;
  }

  #hero .shree {
    left: -8em;
    bottom: -1em;
  }

  .countdown {
    padding: 1rem 0;
  }

  header.navbar a {
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) {
  .event-data {
    padding: 2em;
  }
}

@media (max-width: 767.99px) {
  .menu .row a {
    height: 16.66%;
  }

  .menu.hide .row a:nth-child(even) {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }

  .menu.hide .row a:nth-child(odd) {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
}