html, body {
  height: 100%;
  background: #efefef;
  color: #34495e;
}

.full-height {
  height: 100%;
}

.no-overflow {
  overflow: hidden;
}

#particles {
  background: #02b3e4 linear-gradient(to bottom right,#02b3e4,#02ccba);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#hero {
  color: #fff;
  text-align: center;
  overflow: hidden;
  height: 100%;
  position: relative;
}

#hero svg#foreground {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: none;
}

#hero h1 {
  font: 40pt 'Amarillo', cursive;
  font-weight: bold;
  margin-top: 1em;
}

#hero h6, #hero h5 {
  font-weight: 100;
  /*letter-spacing: .01em;*/
}

#hero .tagline {
  position: relative;
  top: -0.6em;
  right: -9em;
  font-size: 1.1rem;
}

#hero .date {
  margin-top: 1em;
}

.countdown {
  text-align: center;
  padding: 3rem 0;
  background: #34495e;
  color: #fff;
}

.countdown .time {
  font-size: 2rem;
}

.countdown .text {
  opacity: 0.5;
}

header.navbar {
  background: #02b3e4;
  display: none;
}

header.navbar a {
  color: #fff;
  font: 1rem 'Amarillo', cursive;
  font-weight: bold;
}

.event-loading, .event-details {
  background: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.event-details {
  display: block;
  overflow: scroll;
  -webkit-transform: translateY(150%);
      -ms-transform: translateY(150%);
          transform: translateY(150%);
}

.event-details img {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.event-details.up {
  -webkit-transform: translateY(48px);
      -ms-transform: translateY(48px);
          transform: translateY(48px);
}

.event-data {
  background: #fff;
  height: 200%;
}

#event-title {
  font-variant: small-caps;
}

#event-sub {
  font-style: italic;
  font-weight: 400;
}

.visible {
  display: block;
}

.goup {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.event-loading-content {
  text-align: center;
}

.event-loading p {
  animation: loadingText 1s infinite;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 0.6rem;
  margin-top: 1rem;
}

@keyframes loadingText {
  50% {
    opacity: 0;
  }
}

.event-loading img {
  animation: rotateBeat 1s infinite;
}

@keyframes rotateBeat {
  15% {
    transform: scale(1.1);
  }
  35% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  70% {
      transform: scale(1);
  }
  71% {
      transform: rotate(-360deg);
  }
}

.event-item {
  height: 16em;
  background: #fff;
  border: none;
  text-align: center;
  padding: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 1px 6px 24px 5px rgba(46,61,73,.2);
          box-shadow: 1px 6px 24px 5px rgba(46,61,73,.2);
  border-radius: .4rem;
  margin: 1em 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  will-change: transform, box-shadow;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.events {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.events.up {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.event-card {
  background: #fff -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: #fff -o-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: #fff linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 1em 0;
  -webkit-box-shadow: 1px 6px 24px 5px rgba(46,61,73,.2);
          box-shadow: 1px 6px 24px 5px rgba(46,61,73,.2);
  border-radius: .4rem;
  overflow: hidden;
}

.event-card img {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  opacity: .8;
}

.event-card:hover > img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.event-card-body {
  padding: 1.2em;
  position: relative;
  margin-top: -4em;
  background: #fff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.event-card-title {
  font-variant: small-caps;
}

.event-card-text {
  margin-bottom: 0;
}

.ripple-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.ripple {
  display: block;
  height: 0;
  width: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #02b3e4;
  border-radius: 100%;
  position: absolute;
  z-index: 999;
  -webkit-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  will-change: margin, border, height, width;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.ripple.ani {
  -webkit-animation: RIP 1s;
          animation: RIP 1s;
}

@-webkit-keyframes RIP {
  0% { border-width: 0; }
  40% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-left: -1500px;
    margin-top: -1500px;
  }
  41% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-left: -1500px;
    margin-top: -1500px;
  }
  100% {
    height: 2500px;
    width: 2500px;
    border-width: 1500px;
    margin-top: -2250px;
    margin-left: -2250px;
  }
}

@keyframes RIP {
  0% { border-width: 0; }
  40% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-left: -1500px;
    margin-top: -1500px;
  }
  41% {
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-left: -1500px;
    margin-top: -1500px;
  }
  100% {
    height: 2500px;
    width: 2500px;
    border-width: 1500px;
    margin-top: -2250px;
    margin-left: -2250px;
  }
}

.details-header {
  position: fixed;
  width: 100%;
  z-index: 101;
  -webkit-transform: translateY(-300px);
      -ms-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.details-header .navbar {
  -webkit-box-shadow: 0 0 0.5em 0.01em rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0.5em 0.01em rgba(0, 0, 0, 0.4);
}

.details-header.down {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.details-header .back-btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  padding: .25em;
}

.event-item:hover {
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
          box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}

.event-item h4, .event-loading h4 {
  padding-top: 1em;
  font-weight: 100;
}

h2.section-title {
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 1em;
}

h2.section-title span {
  color: #02b3e4;
}

footer .credits {
  font-size: 10pt;
  text-align: center;
}

.legitRipple-ripple {
    background: rgba(0, 0, 0, .1);
    -webkit-transition-duration: .15s, .9s;
         -o-transition-duration: .15s, .9s;
            transition-duration: .15s, .9s;
}

#map {
  width: 100%;
  height: 230px;
  border: none;
}

.app {
  text-align: center;
  padding: 3rem 0;
  background: #34495e;
  color: #fff;
  margin-top: -0.35em;
}

.app .download {
  background: rgba(255, 255, 255, 0.8);
  padding: 1.2em;
  color: #558B2F;
  border-radius: .2rem;
  text-decoration: none;
  transition: transform .3s, box-shadow .4s, background .4s;
}

.app .download:hover {
  background: rgba(255, 255, 255, 1);
  transform: scale(2);
  box-shadow: 1px 6px 24px 5px rgba(46,61,73,.2);
}

footer {
  background: #2c3e50;
  color: #fff;
  padding: 1rem 0rem;
  font-size: .85rem;
  font-weight: 100;
}

.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1900;
}

.menu .navbar-toggler {
  position: fixed;
  z-index: 200;
  left: 1em;
  top: 1em;
  background: #fff;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  padding: 0.4em;
  transition: all .2s;
}

.menu .navbar-toggler:hover {
  transform: scale(1.2);
}

.menu .row a {
  display: block;
  height: 100%;
  font-size: 2em;
  font-weight: 100;
  cursor: pointer;
  transition: all .4s;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.menu .row a span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu.hide .row a:nth-child(even) {
  transform: translateY(-150%);
}

.menu.hide .row a:nth-child(odd) {
  transform: translateY(150%);
}

.menu .row a:nth-child(1) {
  background: #212121;
}

.menu .row a:nth-child(2) {
  background: #3E2723;
}

.menu .row a:nth-child(3) {
  background: #BF360C;
}

.menu .row a:nth-child(4) {
  background: #E65100;
}

.menu .row a:nth-child(5) {
  background: #FF6F00;
}

.menu .row a:nth-child(6) {
  background: #F57F17;
}

.menu .row a:hover:after {
  display: block;
}

.menu .row a:hover span {
  transform: translate(-50%, -50%) scale(1.4);
}

.menu .row a:after {
  display: none;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.reg {
  background-color: rgba(0, 0, 0, 0.8);
}

@font-face {
  font-family: 'Amarillo';
  src: local('Amarillo') format('ttf'), url('../fonts/Amarillo.ttf') format('ttf');
}

@media (max-width: 575.99px) {
  .event-data {
    padding: 2em 1em;
  }

  #hero h1 {
    font-size: 44pt;
  }

  #hero .tagline {
    right: -7em;
    top: -1em;
    font-size: 0.8rem;
  }

  .countdown {
    padding: 1rem 0;
  }

  header.navbar a {
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) {
  .event-data {
    padding: 2em;
  }
}

@media (max-width: 767.99px) {
  .menu .row a {
    height: 16.66%;
  }

  .menu.hide .row a:nth-child(even) {
    transform: translateX(-150%);
  }

  .menu.hide .row a:nth-child(odd) {
    transform: translateX(150%);
  }
}